html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

p, span {
  color: white;
}

.card {
  box-shadow: 0 0 40px black;
  border: 1px solid white;
  border-radius: 5px;
}

.card header {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 0 -50px 50px;
}

.card with-header {
  padding-top: 0;
}

input {
  width: 100%;
  max-width: calc(100% - 40px);
  text-align: center;
  font-size: 30px;
  padding: 10px 20px;
}

#login {
}

#gameList {
}

body > div, body #game {
  display: none
}

body > div.card {
  background-color: rgba(0,0,0,.7);
  width: 100%;
  max-width: 500px;
  padding: 50px;
}

.button {
  background-color: white;
  color: black;
  margin: 20px auto 0;
  width: 200px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}
.login #login, .gameList #gameList, .addNewGame #addNewGame, .game #game {
  display: block;
}
#games > div, #gameHeaders > div {
  display: flex;
}
#games > div > span, #gameHeaders > div > span {
  flex: 1;
}
#games > div > span:first-child, #gameHeaders > div > span:first-child {
  flex: 1;
}
#gameHeaders {
  font-size: 24px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}
#games {
  margin-bottom: 50px
}
#games > div {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 0 -10px;
}
#games > div span.me {
  color: green;
}
#games > div:hover {
  background-color: rgba(255,255,255,.3)
}
.hidden {
  display: none
}
body.game #game {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 300px 100px 1fr 100px;
  grid-template-rows: 100px 1fr 150px;
  grid-template-areas:
    "menu . top ."
    "menu left game right"
    "menu . me .";
}

#game #gameMenu {
  grid-area: menu;
  background-color: black;
  border-right: 1px solid white;
  text-align: center;
  display: flex;
  color: white;
  z-index: 6;
  flex-direction: column;
}
#gameDetails {
  flex: none !important;
  height: 130px;
}
#gameName {
  font-size: 30px;
}
#gameActions {
  display: flex;
  margin: 10px;
}
#gameActions > div {
  flex: 1;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
}
#gameActions > div:hover {
  background-color: #222222;
}

#turn {
  flex-direction: column;
  display: flex;
}
#stats {
  display: flex;
  padding: 0 5px;
  flex: 1;
  flex-direction: column;
}
#stats > div {
  flex: 1;
  height: 100px;
  margin: 5px;
  display: flex;
}
#gold, #actions, #buys {
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  max-height: 80px;
}
#gold {
  position: relative;
  background-image: url("images/coin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#gold:after {
  content: "Treasure";
  color: white;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

#gold + div, #buys + div {
  display: none;
}
.myTurn #gold + div, .myTurn #buys + div {
  display: block;
}
#actions {
  position: relative;
  background-image: url(images/action.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
#actions:after {
  content: "Actions";
  color: white;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}
#buys {
  position: relative;
  background-image: url("images/buys.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#buys:after {
  content: "Buys";
  color: white;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}
.myTurn #stats > div:last-child {
  opacity: 1;
  pointer-events: all;
}
#stats > div:last-child {
  opacity: 0;
  pointer-events: none;
  flex: none;
  height: auto;
}
#stats > div:nth-child(3) {
  justify-content: space-between;
}
#stats > div:first-child {
  justify-content: space-between;
}
#goldInHand:after, #marketMessage:after {
  content: " " attr(data-after);
}
#playAllTreasure {
  display: block;
  width: auto;
  margin-top: 10px;
}
#market {
  width: auto;
  margin-top: 10px;
}

#chat {
  margin: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#messages {
  flex: 1;
}
#compose {
  display: flex;
  border-top: 1px solid white;
  align-items: center;
  background-color: #518547;
}
#send {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}
#compose input {
  background-color: #222222;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  text-align: left;
}
#compose input:focus {
  outline: none;
}
#messages {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: auto;
}
#messages > div {
  text-align: left;
  padding: 5px
}
#messages > div:before {
  content: attr(data-name) ': ';
  color: #917d4b;
}

#game #gameMenu > div {
  flex: 1;
}

#game #leftPlayer {
  grid-area: left;
}

#game #rightPlayer {
  grid-area: right;
}

#game #topPlayer {
  grid-area: top;
  transform: rotate(180deg);
  display: flex;
}

#game #gameboard {
  grid-area: game;
}

#game #player {
  grid-area: me;
  display: flex;
}
#myDrawDeck:before, #leftDrawDeck:before, #rightDrawDeck:before, #topDrawDeck:before {
  content: attr(data-player-name);
  color: white;
  z-index: 2;
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  letter-spacing: 2px;
  background-image: url("images/nameplate.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 5px;
}
.current #myDrawDeck:before, .current #leftDrawDeck:before, .current #rightDrawDeck:before, .current #topDrawDeck:before {
  background-image: url("images/nameplateCurrent.png");
}

#myHand, #leftHand, #topHand, #rightHand {
  z-index: 5;
}




#myDrawDeck {
  position: relative;
  width: 200px;
  flex: none;

}
#myDrawDeck > div {
  width: 200px;
  height: 307px;
  background-image: url("images/Card_Back.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  position: absolute;
}
#myDrawDeck > div:first-child {
  transform: rotate(3deg);
}
#myDrawDeck > div:nth-child(2) {
  transform: rotate(-4deg);
}
#myDiscardDeck {
  flex: none;
  width: 200px;
}
#myHand {
  flex: 1;
  position: relative;
}
#myHand > div {
  position: absolute;
  box-shadow: 0 0 20px -5px black;
  top: 0;
  transition: transform .3s, top .3s, left .3s;
}
#myHand > div:focus {
  outline: none;
  top: -310px !important;
  transform: rotate(0deg) !important;
}
#myHand > div > div {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: opacity .3s;
  position: absolute;
  top: -50px;
  left: 20px;
  right: 20px;
  text-align: center;
  background-color: #518547;
  padding: 4px;
  color: white;
}
#myHand > div > div:after {
  content: "Play"
}
.current #myHand > div:focus > div {
  opacity: 1;
  pointer-events: all;
}




#topDrawDeck {
  position: relative;
  width: 200px;
  flex: none;

}
#topDrawDeck > div {
  width: 200px;
  height: 307px;
  background-image: url("images/Card_Back.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  position: absolute;
}
#topDrawDeck > div:first-child {
  transform: rotate(3deg);
}
#topDrawDeck > div:nth-child(2) {
  transform: rotate(-4deg);
}
#topDiscardDeck {
  flex: none;
  width: 200px;
}
#topHand {
  flex: 1;
  position: relative;
}
#topHand > div {
  position: absolute;
  box-shadow: 0 0 20px -5px black;
  top: 0;
  transition: transform .3s, top .3s, left .3s;
}
#topHand > div:focus {
  outline: none;
  top: -310px !important;
  transform: rotate(0deg) !important;
}




#leftPlayer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0;
}
#leftDrawDeck {
  position: relative;
  width: 200px;
  flex: none;
  transform: rotate(90deg);
  height: 200px;
  left: -100px;
}
#leftDrawDeck > div {
  width: 200px;
  height: 307px;
  background-image: url("images/Card_Back.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  position: absolute;
}
#leftDrawDeck > div:first-child {
  transform: rotate(3deg);
}
#leftDrawDeck > div:nth-child(2) {
  transform: rotate(-4deg);
}
#leftDiscardDeck {
  flex: none;
  width: 200px;
  height: 200px;
  left: -100px;
  transform: rotate(90deg);
  position: relative;
}
#leftHand {
  flex: none;
  height: 50px;
  transform: rotate(90deg);
}
#leftHand > div {
  position: absolute;
  box-shadow: 0 0 20px -5px black;
  top: 0;
  transition: transform .3s, top .3s, left .3s;
}
#leftHand > div:focus {
  outline: none;
  top: -310px !important;
  transform: rotate(0deg) !important;
}





#rightPlayer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 50px 0;
}
#rightDrawDeck {
  position: relative;
  width: 200px;
  flex: none;
  transform: rotate(-90deg);
  height: 200px;
  left: 0px;
}
#rightDrawDeck > div {
  width: 200px;
  height: 307px;
  background-image: url("images/Card_Back.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  position: absolute;
}
#rightDrawDeck > div:first-child {
  transform: rotate(3deg);
}
#rightDrawDeck > div:nth-child(2) {
  transform: rotate(-4deg);
}
#rightDiscardDeck {
  flex: none;
  width: 200px;
  height: 200px;
  left: 0px;
  transform: rotate(-90deg);
  position: relative;
}
#rightHand {
  flex: none;
  height: 50px;
  transform: rotate(-90deg);
}
#rightHand > div {
  position: absolute;
  box-shadow: 0 0 20px -5px black;
  top: 0;
  transition: transform .3s, top .3s, left .3s;
}
#rightHand > div:focus {
  outline: none;
  top: -310px !important;
  transform: rotate(0deg) !important;
}



#game.pregame #gameboard {
  display: flex;
  align-items: center;
  justify-content: center;
}
#waiting {
  display: none;
  padding: 50px;
  background-color: rgba(0,0,0,.7);
}
.pregame #waiting {
  display: block;
}



[class^=card_] {
  width: 170px;
  height: 277px;
  border-radius: 16px;
  background-color: black;
  background-size: cover;
  border: 10px solid black;
  padding: 5px;
}
.card_copper {
  background-image: url("images/Copper.jpg");
}
.card_estate {
  background-image: url("images/Estate.jpg");
}
.card_blank {
  background-image: url("images/Blank.jpg");
}





/*
SASS to generate hand styles

$times: 12;
$offset: 5;
$cardWidth: 200;

@for $i from 1 through $times {
    #myHand div:nth-child(#{$i}) {

        @for $j from 1 through $times {
            &:nth-last-child(#{$j}) {
                left: calc(50% - #{$j * $offset + $i * $offset}% - #{$cardWidth/2}px);
                transform: rotate(#{$i*3 - $j*3}deg);
            }
        }
    }
} */
.hand div:nth-child(1):nth-last-child(1) {
  left: calc(50% - 5% + 5% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(1):nth-last-child(2) {
  left: calc(50% - 10% + 5% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(1):nth-last-child(3) {
  left: calc(50% - 15% + 5% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(1):nth-last-child(4) {
  left: calc(50% - 20% + 5% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(1):nth-last-child(5) {
  left: calc(50% - 25% + 5% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(1):nth-last-child(6) {
  left: calc(50% - 30% + 5% - 100px);
  transform: rotate(-15deg);
}

.hand div:nth-child(1):nth-last-child(7) {
  left: calc(50% - 35% + 5% - 100px);
  transform: rotate(-18deg);
}

.hand div:nth-child(1):nth-last-child(8) {
  left: calc(50% - 40% + 5% - 100px);
  transform: rotate(-21deg);
}

.hand div:nth-child(1):nth-last-child(9) {
  left: calc(50% - 45% + 5% - 100px);
  transform: rotate(-24deg);
}

.hand div:nth-child(1):nth-last-child(10) {
  left: calc(50% - 50% + 5% - 100px);
  transform: rotate(-27deg);
}

.hand div:nth-child(1):nth-last-child(11) {
  left: calc(50% - 55% + 5% - 100px);
  transform: rotate(-30deg);
}

.hand div:nth-child(1):nth-last-child(12) {
  left: calc(50% - 60% + 5% - 100px);
  transform: rotate(-33deg);
}

.hand div:nth-child(2):nth-last-child(1) {
  left: calc(50% - 5% + 10% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(2):nth-last-child(2) {
  left: calc(50% - 10% + 10% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(2):nth-last-child(3) {
  left: calc(50% - 15% + 10% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(2):nth-last-child(4) {
  left: calc(50% - 20% + 10% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(2):nth-last-child(5) {
  left: calc(50% - 25% + 10% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(2):nth-last-child(6) {
  left: calc(50% - 30% + 10% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(2):nth-last-child(7) {
  left: calc(50% - 35% + 10% - 100px);
  transform: rotate(-15deg);
}

.hand div:nth-child(2):nth-last-child(8) {
  left: calc(50% - 40% + 10% - 100px);
  transform: rotate(-18deg);
}

.hand div:nth-child(2):nth-last-child(9) {
  left: calc(50% - 45% + 10% - 100px);
  transform: rotate(-21deg);
}

.hand div:nth-child(2):nth-last-child(10) {
  left: calc(50% - 50% + 10% - 100px);
  transform: rotate(-24deg);
}

.hand div:nth-child(2):nth-last-child(11) {
  left: calc(50% - 55% + 10% - 100px);
  transform: rotate(-27deg);
}

.hand div:nth-child(2):nth-last-child(12) {
  left: calc(50% - 60% + 10% - 100px);
  transform: rotate(-30deg);
}

.hand div:nth-child(3):nth-last-child(1) {
  left: calc(50% - 5% + 15% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(3):nth-last-child(2) {
  left: calc(50% - 10% + 15% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(3):nth-last-child(3) {
  left: calc(50% - 15% + 15% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(3):nth-last-child(4) {
  left: calc(50% - 20% + 15% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(3):nth-last-child(5) {
  left: calc(50% - 25% + 15% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(3):nth-last-child(6) {
  left: calc(50% - 30% + 15% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(3):nth-last-child(7) {
  left: calc(50% - 35% + 15% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(3):nth-last-child(8) {
  left: calc(50% - 40% + 15% - 100px);
  transform: rotate(-15deg);
}

.hand div:nth-child(3):nth-last-child(9) {
  left: calc(50% - 45% + 15% - 100px);
  transform: rotate(-18deg);
}

.hand div:nth-child(3):nth-last-child(10) {
  left: calc(50% - 50% + 15% - 100px);
  transform: rotate(-21deg);
}

.hand div:nth-child(3):nth-last-child(11) {
  left: calc(50% - 55% + 15% - 100px);
  transform: rotate(-24deg);
}

.hand div:nth-child(3):nth-last-child(12) {
  left: calc(50% - 60% + 15% - 100px);
  transform: rotate(-27deg);
}

.hand div:nth-child(4):nth-last-child(1) {
  left: calc(50% - 5% + 20% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(4):nth-last-child(2) {
  left: calc(50% - 10% + 20% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(4):nth-last-child(3) {
  left: calc(50% - 15% + 20% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(4):nth-last-child(4) {
  left: calc(50% - 20% + 20% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(4):nth-last-child(5) {
  left: calc(50% - 25% + 20% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(4):nth-last-child(6) {
  left: calc(50% - 30% + 20% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(4):nth-last-child(7) {
  left: calc(50% - 35% + 20% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(4):nth-last-child(8) {
  left: calc(50% - 40% + 20% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(4):nth-last-child(9) {
  left: calc(50% - 45% + 20% - 100px);
  transform: rotate(-15deg);
}

.hand div:nth-child(4):nth-last-child(10) {
  left: calc(50% - 50% + 20% - 100px);
  transform: rotate(-18deg);
}

.hand div:nth-child(4):nth-last-child(11) {
  left: calc(50% - 55% + 20% - 100px);
  transform: rotate(-21deg);
}

.hand div:nth-child(4):nth-last-child(12) {
  left: calc(50% - 60% + 20% - 100px);
  transform: rotate(-24deg);
}

.hand div:nth-child(5):nth-last-child(1) {
  left: calc(50% - 5% + 25% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(5):nth-last-child(2) {
  left: calc(50% - 10% + 25% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(5):nth-last-child(3) {
  left: calc(50% - 15% + 25% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(5):nth-last-child(4) {
  left: calc(50% - 20% + 25% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(5):nth-last-child(5) {
  left: calc(50% - 25% + 25% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(5):nth-last-child(6) {
  left: calc(50% - 30% + 25% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(5):nth-last-child(7) {
  left: calc(50% - 35% + 25% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(5):nth-last-child(8) {
  left: calc(50% - 40% + 25% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(5):nth-last-child(9) {
  left: calc(50% - 45% + 25% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(5):nth-last-child(10) {
  left: calc(50% - 50% + 25% - 100px);
  transform: rotate(-15deg);
}

.hand div:nth-child(5):nth-last-child(11) {
  left: calc(50% - 55% + 25% - 100px);
  transform: rotate(-18deg);
}

.hand div:nth-child(5):nth-last-child(12) {
  left: calc(50% - 60% + 25% - 100px);
  transform: rotate(-21deg);
}

.hand div:nth-child(6):nth-last-child(1) {
  left: calc(50% - 5% + 30% - 100px);
  transform: rotate(15deg);
}

.hand div:nth-child(6):nth-last-child(2) {
  left: calc(50% - 10% + 30% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(6):nth-last-child(3) {
  left: calc(50% - 15% + 30% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(6):nth-last-child(4) {
  left: calc(50% - 20% + 30% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(6):nth-last-child(5) {
  left: calc(50% - 25% + 30% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(6):nth-last-child(6) {
  left: calc(50% - 30% + 30% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(6):nth-last-child(7) {
  left: calc(50% - 35% + 30% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(6):nth-last-child(8) {
  left: calc(50% - 40% + 30% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(6):nth-last-child(9) {
  left: calc(50% - 45% + 30% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(6):nth-last-child(10) {
  left: calc(50% - 50% + 30% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(6):nth-last-child(11) {
  left: calc(50% - 55% + 30% - 100px);
  transform: rotate(-15deg);
}

.hand div:nth-child(6):nth-last-child(12) {
  left: calc(50% - 60% + 30% - 100px);
  transform: rotate(-18deg);
}

.hand div:nth-child(7):nth-last-child(1) {
  left: calc(50% - 5% + 35% - 100px);
  transform: rotate(18deg);
}

.hand div:nth-child(7):nth-last-child(2) {
  left: calc(50% - 10% + 35% - 100px);
  transform: rotate(15deg);
}

.hand div:nth-child(7):nth-last-child(3) {
  left: calc(50% - 15% + 35% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(7):nth-last-child(4) {
  left: calc(50% - 20% + 35% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(7):nth-last-child(5) {
  left: calc(50% - 25% + 35% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(7):nth-last-child(6) {
  left: calc(50% - 30% + 35% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(7):nth-last-child(7) {
  left: calc(50% - 35% + 35% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(7):nth-last-child(8) {
  left: calc(50% - 40% + 35% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(7):nth-last-child(9) {
  left: calc(50% - 45% + 35% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(7):nth-last-child(10) {
  left: calc(50% - 50% + 35% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(7):nth-last-child(11) {
  left: calc(50% - 55% + 35% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(7):nth-last-child(12) {
  left: calc(50% - 60% + 35% - 100px);
  transform: rotate(-15deg);
}

.hand div:nth-child(8):nth-last-child(1) {
  left: calc(50% - 5% + 40% - 100px);
  transform: rotate(21deg);
}

.hand div:nth-child(8):nth-last-child(2) {
  left: calc(50% - 10% + 40% - 100px);
  transform: rotate(18deg);
}

.hand div:nth-child(8):nth-last-child(3) {
  left: calc(50% - 15% + 40% - 100px);
  transform: rotate(15deg);
}

.hand div:nth-child(8):nth-last-child(4) {
  left: calc(50% - 20% + 40% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(8):nth-last-child(5) {
  left: calc(50% - 25% + 40% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(8):nth-last-child(6) {
  left: calc(50% - 30% + 40% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(8):nth-last-child(7) {
  left: calc(50% - 35% + 40% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(8):nth-last-child(8) {
  left: calc(50% - 40% + 40% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(8):nth-last-child(9) {
  left: calc(50% - 45% + 40% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(8):nth-last-child(10) {
  left: calc(50% - 50% + 40% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(8):nth-last-child(11) {
  left: calc(50% - 55% + 40% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(8):nth-last-child(12) {
  left: calc(50% - 60% + 40% - 100px);
  transform: rotate(-12deg);
}

.hand div:nth-child(9):nth-last-child(1) {
  left: calc(50% - 5% + 45% - 100px);
  transform: rotate(24deg);
}

.hand div:nth-child(9):nth-last-child(2) {
  left: calc(50% - 10% + 45% - 100px);
  transform: rotate(21deg);
}

.hand div:nth-child(9):nth-last-child(3) {
  left: calc(50% - 15% + 45% - 100px);
  transform: rotate(18deg);
}

.hand div:nth-child(9):nth-last-child(4) {
  left: calc(50% - 20% + 45% - 100px);
  transform: rotate(15deg);
}

.hand div:nth-child(9):nth-last-child(5) {
  left: calc(50% - 25% + 45% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(9):nth-last-child(6) {
  left: calc(50% - 30% + 45% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(9):nth-last-child(7) {
  left: calc(50% - 35% + 45% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(9):nth-last-child(8) {
  left: calc(50% - 40% + 45% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(9):nth-last-child(9) {
  left: calc(50% - 45% + 45% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(9):nth-last-child(10) {
  left: calc(50% - 50% + 45% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(9):nth-last-child(11) {
  left: calc(50% - 55% + 45% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(9):nth-last-child(12) {
  left: calc(50% - 60% + 45% - 100px);
  transform: rotate(-9deg);
}

.hand div:nth-child(10):nth-last-child(1) {
  left: calc(50% - 5% + 50% - 100px);
  transform: rotate(27deg);
}

.hand div:nth-child(10):nth-last-child(2) {
  left: calc(50% - 10% + 50% - 100px);
  transform: rotate(24deg);
}

.hand div:nth-child(10):nth-last-child(3) {
  left: calc(50% - 15% + 50% - 100px);
  transform: rotate(21deg);
}

.hand div:nth-child(10):nth-last-child(4) {
  left: calc(50% - 20% + 50% - 100px);
  transform: rotate(18deg);
}

.hand div:nth-child(10):nth-last-child(5) {
  left: calc(50% - 25% + 50% - 100px);
  transform: rotate(15deg);
}

.hand div:nth-child(10):nth-last-child(6) {
  left: calc(50% - 30% + 50% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(10):nth-last-child(7) {
  left: calc(50% - 35% + 50% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(10):nth-last-child(8) {
  left: calc(50% - 40% + 50% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(10):nth-last-child(9) {
  left: calc(50% - 45% + 50% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(10):nth-last-child(10) {
  left: calc(50% - 50% + 50% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(10):nth-last-child(11) {
  left: calc(50% - 55% + 50% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(10):nth-last-child(12) {
  left: calc(50% - 60% + 50% - 100px);
  transform: rotate(-6deg);
}

.hand div:nth-child(11):nth-last-child(1) {
  left: calc(50% - 5% + 55% - 100px);
  transform: rotate(30deg);
}

.hand div:nth-child(11):nth-last-child(2) {
  left: calc(50% - 10% + 55% - 100px);
  transform: rotate(27deg);
}

.hand div:nth-child(11):nth-last-child(3) {
  left: calc(50% - 15% + 55% - 100px);
  transform: rotate(24deg);
}

.hand div:nth-child(11):nth-last-child(4) {
  left: calc(50% - 20% + 55% - 100px);
  transform: rotate(21deg);
}

.hand div:nth-child(11):nth-last-child(5) {
  left: calc(50% - 25% + 55% - 100px);
  transform: rotate(18deg);
}

.hand div:nth-child(11):nth-last-child(6) {
  left: calc(50% - 30% + 55% - 100px);
  transform: rotate(15deg);
}

.hand div:nth-child(11):nth-last-child(7) {
  left: calc(50% - 35% + 55% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(11):nth-last-child(8) {
  left: calc(50% - 40% + 55% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(11):nth-last-child(9) {
  left: calc(50% - 45% + 55% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(11):nth-last-child(10) {
  left: calc(50% - 50% + 55% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(11):nth-last-child(11) {
  left: calc(50% - 55% + 55% - 100px);
  transform: rotate(0deg);
}

.hand div:nth-child(11):nth-last-child(12) {
  left: calc(50% - 60% + 55% - 100px);
  transform: rotate(-3deg);
}

.hand div:nth-child(12):nth-last-child(1) {
  left: calc(50% - 5% + 60% - 100px);
  transform: rotate(33deg);
}

.hand div:nth-child(12):nth-last-child(2) {
  left: calc(50% - 10% + 60% - 100px);
  transform: rotate(30deg);
}

.hand div:nth-child(12):nth-last-child(3) {
  left: calc(50% - 15% + 60% - 100px);
  transform: rotate(27deg);
}

.hand div:nth-child(12):nth-last-child(4) {
  left: calc(50% - 20% + 60% - 100px);
  transform: rotate(24deg);
}

.hand div:nth-child(12):nth-last-child(5) {
  left: calc(50% - 25% + 60% - 100px);
  transform: rotate(21deg);
}

.hand div:nth-child(12):nth-last-child(6) {
  left: calc(50% - 30% + 60% - 100px);
  transform: rotate(18deg);
}

.hand div:nth-child(12):nth-last-child(7) {
  left: calc(50% - 35% + 60% - 100px);
  transform: rotate(15deg);
}

.hand div:nth-child(12):nth-last-child(8) {
  left: calc(50% - 40% + 60% - 100px);
  transform: rotate(12deg);
}

.hand div:nth-child(12):nth-last-child(9) {
  left: calc(50% - 45% + 60% - 100px);
  transform: rotate(9deg);
}

.hand div:nth-child(12):nth-last-child(10) {
  left: calc(50% - 50% + 60% - 100px);
  transform: rotate(6deg);
}

.hand div:nth-child(12):nth-last-child(11) {
  left: calc(50% - 55% + 60% - 100px);
  transform: rotate(3deg);
}

.hand div:nth-child(12):nth-last-child(12) {
  left: calc(50% - 60% + 60% - 100px);
  transform: rotate(0deg);
}
